  .cardBtn {
    position: relative;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    font-size: 4.5em;
    width: 35vw;
    aspect-ratio: .714;
}

.jokerImg {
  font-size: 3em;
}
  
  .red-suit {
    color: red;
  }
  
  .black-suit {
    color: black;
  }


  .cardBack {    
    font-size: 25rem;
    padding: none;
    margin: none;
    color: black;
  }

  .startBtnTxt {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .newGameBtn {
    position: relative;
  }

  .topValue {
    position: absolute;
    left: 15px;
    top: 15px;
    font-size: 1.1em;
  }

  .btmValue {
    position: absolute;
    right: 15px;
    bottom: 15px;
    transform: rotate(180deg);
    font-size: 1.1em;
  }

  @media screen and (max-width: 500px) {
    .cardBtn {
       font-size: 3em;
        width: 80vw;
        aspect-ratio: .714;
    }

    .jokerImg {
        font-size: 3em;
      }

   
  }