.deckDiv {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px; /* Space between cards */
    
}
  
  .cardBtn {
    position: relative;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    font-size: 3em;
    width: 23vw;
    height: 60vh;
}
  
  .red-suit {
    color: red;
  }
  
  .black-suit {
    color: black;
  }
  
  .jokerImg {
    font-size: 3em;
  }

  .cardBack {    
    font-size: 25rem;
    padding: none;
    margin: none;
    color: black;
  }

  .startBtnTxt {
    position: absolute;
    /* Center horizontally */
    left: 50%;
    /* Center vertically */
    top: 50%;
    /* Offset the element by half of its width and height to truly center it */
    transform: translate(-50%, -50%);
    /* Ensure the text is on top if needed */
    z-index: 1;
  }